<% @followers.each do |user|%>
  <div class="recommended-follower">
    <div class="row">
      <div class="col-4">
        <%= link_to image_tag(user.avatar, width:'50px', class:"img-circle"), profile_path(user.username) %>
      </div>
      <div class="col-sm-9 col-tg-10">
        <%= link_to user.username, profile_path(user.username), class:"text-dark" %>
      </div>
    </div>
  </div>
<% end %>
